ingredient:  <%=ingredient.name%>
in the recipe: <%=recipe.name%>

 

    <div class=" bg-gray-200">
        <div id="edit-ingredient" class="rounded border-solid border-green-500 border-4 mx-auto pt-5 w-3/5 bg-cover bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXfJiemntDYEb-3PrKDHEvEoQv1HaOYBledg&usqp=CAU')]">
            <form method="POST" action="/recipes/<%=recipe.id%>/ingredients/<%=ingredient.id%>/?_method=PUT">
                <input class="mx-auto block text-center" name="ingrName" id="ingrName" type="text"required aria-label="Ingredient Name" value="<%=ingredient.name%>">
                </br>
                <input class="mx-auto block text-center" name="ingrQuantity" id="ingrQuantity" type="number" required placeholder="quantity" aria-label="Quantity of Ingredient" value="<%=ingredient.quantity%>">
                </br>
                <div class="mx-auto block text-center">
                    <label for="ingrMeasure">Units</label>
                    <select class="mx-auto block text-center w-[150px]" name="ingrMeasure" id="ingrMeasure" required placeholder="units of measurement" aria-label="Units of Measurement" value="<%ingredient.measure%>">
                        <option value="Gram">Grams</option>
                        <option value="Whole">Whole</option>
                        <option value="Ounce">Ounces</option>
                </div>
                </br>
                <input name="recipeId" id="recipeId" type="hidden" value="<%=recipe.id%>">
                <button type="submit" class="block mx-auto bg-black text-xl text-white">Confirm Changes</button>
            </form>
        </div>
    </div>
    
    
    