
<div id="edit-ingredient" class=" w-[400px] mt-10 mx-auto border-solid border-[#0072BB] border-4 rounded-lg bg-[#1E91D6]">
    <form method="POST" action="/recipes/<%=recipe.id%>/ingredients/<%=ingredient.id%>/?_method=PUT" class="mt-2 mx-auto">
        <input class="mx-auto bg-blue-100 text-xl text-black border-4 border-solid border-blue-300 p-2 rounded-lg block rounded-lg text-center" name="ingrName" id="ingrName" type="text"required value="<%=ingredient.name%>" aria-label="Ingredient Name">
        </br>
        <input class="mx-auto bg-blue-100 text-xl text-black border-4 border-solid border-blue-300 p-2 rounded-lg block text-center" name="ingrQuantity" id="ingrQuantity" min="0" type="number" step="any" required value="<%=ingredient.quantity%>" aria-label="Quantity of Ingredient">
        </br>
        <div class="mx-auto block text-center">
            <select class="mx-auto bg-blue-100 text-xl text-black border-4 border-solid border-blue-300 p-2 rounded-lg block text-center w-[150px]" name="ingrMeasure" id="ingrMeasure" required value="<%ingredient.measure%>" aria-label="Units of Measurement">
                <option value="unit">Whole</option>
                <option value="gram">Grams</option>
                <option value="ounce">Ounces</option>
                <option value="pound">Pounds</option>
                <option value="kilogram">Kilograms</option>
                <option value="slice">Slices</option>
                <option value="cup">Cups</option>
                <option value="pinch">Pinch</option>
                <option value="dash">Dash</option>
                <option value="teaspoon">Teaspoon</option>
                <option value="tablespoon">Tablespoon</option>
        </div>
        </br>
        <input name="recipeId" id="recipeId" type="hidden" value="<%=recipe.id%>"/>
        <button type="submit" class="mt-4 block mx-auto bg-blue-100 text-xl text-black border-4 border-solid border-blue-300 p-2 rounded-lg">Confirm</button>
    </form>
</div>


    
    
    