
<% if(ingredients) { %>
    <% ingredients.forEach(ingredient => { %>
        <li><%=ingredient.name%></li>
        <a href="/recipes/<%= recipeId %>/ingredients/edit/<%=ingredient.id%>">Edit</a>
        <form method="POST" action="/recipes/<%=recipeId%>/ingredients/<%= ingredient.id %>/?_method=DELETE">
            <button type="submit">Delete Ingredient</button>
        </form>
    <%}) %>
<% } %>

<form method="POST" action="/recipes/ingredients">
    
    <label for="ingrName">ingrname</label>
    <input name="ingrName" id="ingrName" type="text">
    </br>

    <label for="ingrMeasure">measure</label>
    <input name="ingrMeasure" id="ingrMeasure" type="text">
    </br>

    <label for="ingrQuantity">quantity</label>
    <input name="ingrQuantity" id="ingrQuantity" type="text">
    
    </br>
    
    <input name="recipeId" id="recipeId" type="text" value="<%=recipeId%>">
    
    <button type="submit">Add Ingr</button>

</form>

<a href="/recipes/edit/<%=recipeId%>">DONE</a>