<div class="">
    <h2 class="text-4xl text-center mt-4"> <%= recipe.name %> </h2>
    <div class=" w-4/5 mx-auto ">
        <img src="<%=recipe.img%>" class="h-[300px] my-2 w-[300px] object-contain text-center mx-auto block rounded-lg">
        <div id="nutritional information" class="flex flex-wrap  items-center justify-center">
            <div class="h-[100px] w-[200px] bg-blue-100 rounded-lg flex justify-center items-center border-solid border-blue-500 border-4">
                <p class="text-blue-700 text-center font-sans"><span class="font-bold">Calories:</span> </br>
                    <% let totalCalories = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.energy) { %>
                            <%totalCalories+= Number(ingredient.energy) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalCalories)%> kCal</p>
            </div>
            <div class="h-[100px] w-[200px] bg-green-100 rounded-lg flex justify-center items-center border-solid border-green-500 border-4">
                <p class="text-green-700 text-center font-sans"><span class="font-bold">Protein:</span></br>
                    <% let totalProtein = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.protein) { %>
                            <%totalProtein+= Number(ingredient.protein) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalProtein)%>g
            </div>             
            <div class="h-[100px] w-[200px] bg-orange-100 rounded-lg flex justify-center items-center border-solid border-orange-500 border-4">
                <p class="text-orange-700 text-center font-sans"><span class="font-bold">Fat:</span></br>
                    <% let totalFat = 0 %>
                <% ingredients.forEach(ingredient => { %>
                    <% if (ingredient.fat) { %>
                        <%totalFat+= Number(ingredient.fat) %>
                    <% } %>
                <% }) %>
                <%=Math.floor(totalFat)%>g
            </div> 
            <div class="h-[100px] w-[200px] bg-red-100 rounded-lg flex justify-center items-center border-solid border-red-500 border-4">
                <p class="text-red-700 text-center font-sans"><span class="font-bold">Carbohydrates:</span></br>
                    <% let totalCarbs = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.carbs) { %>
                            <%totalCarbs+= Number(ingredient.carbs) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalCarbs)%>g
            </div> 
            <div class="h-[100px] w-[200px] bg-yellow-100 rounded-lg flex justify-center items-center border-solid border-yellow-500 border-4">
                <p class="text-yellow-700 text-center font-sans"><span class="font-bold">Sugar:</span></br>
                    <% let totalSugar = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.sugar) { %>
                            <%totalSugar+= Number(ingredient.sugar) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalSugar)%>g
            </div>
            <div class="h-[100px] w-[200px] bg-sky-100 rounded-lg flex justify-center items-center border-solid border-sky-500 border-4">
                <p class="text-sky-700 text-center font-sans"><span class="font-bold">Dietary Fiber:</span></br>
                    <% let totalFiber=0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.fiber) { %>
                            <%totalFiber+= Number(ingredient.fiber) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalFiber)%>g
            </div>
            <div class="h-[100px] w-[200px] bg-stone-100 rounded-lg flex justify-center items-center border-solid border-stone-500 border-4">
                <p class="text-stone-700 text-center font-sans"><span class="font-bold">Sodium:</span></br>
                    <% let totalSodium = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.NA) { %>
                            <%totalSodium+= Number(ingredient.NA) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalSodium)%>(mg)
            </div>
            <div class="h-[100px] w-[200px] bg-pink-100 rounded-lg flex justify-center items-center border-solid border-pink-500 border-4">
                <p class="text-pink-700 text-center font-sans"><span class="font-bold">Cholesterol:</span></br>
                    <% let totalCholesterol = 0 %>
                    <% ingredients.forEach(ingredient => { %>
                        <% if (ingredient.cholesterol) { %>
                            <%totalCholesterol+= Number(ingredient.cholesterol) %>
                        <% } %>
                    <% }) %>
                    <%=Math.floor(totalCholesterol)%>mg
            </div>
        </div>
    </div>

    <div id="ingredients-container" class="">
       
        
        <% if(ingredients.length>0) { %>
            <table class="table-auto w-3/4 mx-auto mt-5 text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr >
                    <th scope="col" class="px-6 py-3">Ingredient</th>
                    <th scope="col" class="px-6 py-3">Amount</th>
                    <th scope="col" class="px-6 py-3">Unit</th>
                    <th scope="col" class="px-6 py-3">Nutritional Info</th>
                </tr>
                </thead>
                <tbody>
                    <% ingredients.forEach(ingredient => { %>
                        <tr class="bg-white border-b ">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900"><%=ingredient.name%></th>
                            <td class="px-6 py-4"><%=ingredient.quantity%></td>
                            <td class="px-6 py-4"><%=ingredient.measure%></td>
                            <% if (!ingredient.energy) { %>
                                <td class="px-6 py-4" >Not Available</td>
                            <% } else {%>
                                <td class="px-6 py-4" ><a href="#">See More</a></td>
                            <% } %>
                        </tr>
                        <%}) %>
                </tbody>
            </table>
    </div>
    </div>

    <div id="directions-container" class="text-left my-10 mx-auto w-4/5 bg-white rounded-lg border-4 border-red-100 border-solid">
        <h3 class="text-2xl text-center p-5">Directions: </h3> <hr>
        <% // show the directions over multiple lines %>
          <% let directions = recipe.directions %>
           <% let stepByStep = directions.split('//') %>
           <% stepByStep.forEach(step => { %>
                <p class="p-3"><%=step%></p>
           <% }) %> 
    </div>

    <div id="story-container" class=" text-left my-10 mx-auto w-4/5 bg-white rounded-lg border-4 border-red-100 border-solid">
        <h3 class="text-2xl text-center p-5">Story: </h3> <hr>

        <p class="p-3"><%= recipe.story %></p>
    </div>

    <div id="notes-container" class="text-left my-10 mx-auto w-4/5 bg-white rounded-lg border-4 border-red-100 border-solid">
        <h3 class="text-2xl p-5">Additional notes: </h3> <hr>

        <p class="p-3"><%= recipe.notes%></p>   
    </div>
    <div class="flex mx-auto w-1/2">
        <div class="w-1/2">
            <a href="/recipes/edit/<%=recipe.id%>" class="flex justify-center"><button class="mx-auto focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5">Edit Recipe</button></a>
        </div>
        <div class="w-1/2">
            <form method="POST" action="/recipes/<%= recipe.id %>/?_method=DELETE" class="flex justify-center">
                <button type="submit"class=" focus:outline-none text-white bg-black hover:bg-gray-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 ">Delete Recipe</button>
            </form>
        </div>
    </div>
</div>

<button>SAVE RECIPE</button>
