<h2> <%= recipe.name %> </h2>
<h2><a href="/recipes/<%=recipe.id%>/ingredients/new">Edit this recipe</a></h2>
<form method="POST" action="/recipes/<%= recipe.id %>/?_method=DELETE">
    <button type="submit">Delete Recipe</button>
</form>

<h3>Ingredients: </h3>

<% if(ingredients) { %>
    <% ingredients.forEach(ingredient => { %>
        <li><%=ingredient.name%></li>
        
    <%}) %>
<% } %>




<h3>Directions: </h3> 

<p><%=recipe.directions%></p>

<h3>Story: </h3>

<p><%= recipe.story %></p>

<h3>Additional notes: </h3>

<p><%= recipe.notes%></p>


