


<form method="POST" action="/recipes/<%=recipe.id%>/?_method=PUT">
    <label class="mx-auto block text-center" for="directions">Directions:</label>
    <p>Ex. 1. </p>
    <textarea class="mx-auto block p-3 " cols="30" rows="5" name="directions" id="directions" ><%=recipe.directions%></textarea>
    <label class="mx-auto block text-center" for="story">story:</label>
    <textarea class="mx-auto block text-center" name="story" id="story" ><%=recipe.story%></textarea>
    <label class="mx-auto block text-center" for="notes">notes:</label>
    <textarea class="mx-auto block text-center" name="notes" id="notes" ><%=recipe.notes%></textarea>
    <label class="mx-auto block text-center"for="img">image source URL</label>
    <input class="mx-auto block text-center" name="img" id="img" type="text" placeholder="image URL" value = <%=recipe.img%>>

    <button type="submit" class="mx-auto block text-center">Confirm</button>
</form>

