<h1 class=" my-5 text-4xl text-black text-center"> <%=recipe.name%></h1>

<div id="current-ingredients" class="relative overflow-x-auto shadow-md mx-auto w-4/5 sm:rounded-lg">
        <table class="table-auto w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr >
                <th scope="col" class="px-6 py-3">Ingredient</th>
                <th scope="col" class="px-6 py-3">Amount</th>
                <th scope="col" class="px-6 py-3">Unit</th>
                <th scope="col" class="px-6 py-3">Nutrition Data</th>
                <th scope="col" class="px-6 py-3">Edit</th>
                <th scope="col" class="px-6 py-3">Remove</th>
            </tr>
            </thead>
            <tbody>
                <% if(ingredients.length>0) { %>
                <% ingredients.forEach(ingredient => { %>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900"><%=ingredient.name%></th>
                        <td class="px-6 py-4"><%=ingredient.quantity%></td>
                        <td class="px-6 py-4"><%=ingredient.measure%></td>
                        <% if (ingredient.energy>=0) { %>
                            <td class="px-6 py-4" >Available</td>
                        <% } else {%>
                            <td class="px-6 py-4" >Not Available</td>
                        <% } %>
                        <td class="px-6 py-4">
                            <a href="/recipes/<%=recipe.id%>/ingredients/edit/<%=ingredient.id%>">Edit</a>
                        </td>
                        <td class="px-6 py-4">
                            <form method="POST" action="/recipes/<%=recipe.id%>/ingredients/<%= ingredient.id %>/?_method=DELETE">
                                <button type="submit">Delete </button>
                            </form>
                        </td>
                    </tr>
                    <%}) %>
                    <% } %>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900"><button id="addIngredient">Add ingredient +</button></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    
</div>
<div id="add-ingredient" class="hidden w-4/5 mt-4 mx-auto border-solid border-[#FE612C] border-4 rounded-lg bg-red-100">
    <form method="POST" action="/recipes/ingredients" class="mt-2 mx-auto">
        <input class="mx-auto bg-white text-xl text-black border-1  p-2 rounded-lg block rounded-lg text-center" name="ingrName" id="ingrName" type="text"required placeholder="ingredient name" aria-label="Ingredient Name">
        </br>
        <input class="mx-auto bg-white text-xl text-black border-1  p-2 rounded-lg block text-center" name="ingrQuantity" id="ingrQuantity" min="0" type="number" step="any" required placeholder="quantity" aria-label="Quantity of Ingredient">
        </br>
        <div class="mx-auto block text-center">
            <select class="mx-auto bg-white text-xl text-black  p-2 rounded-lg block text-center w-[150px]" name="ingrMeasure" id="ingrMeasure" required placeholder="units of measurement" aria-label="Units of Measurement">
                <option value="unit">Whole</option>
                <option value="gram">Grams</option>
                <option value="ounce">Ounces</option>
                <option value="pound">Pounds</option>
                <option value="kilogram">Kilograms</option>
                <option value="slice">Slices</option>
                <option value="cup">Cups</option>
                <option value="pinch">Pinch</option>
                <option value="dash">Dash</option>
                <option value="teaspoon">Teaspoon</option>
                <option value="tablespoon">Tablespoon</option>
        </div>
        </br>
        <input name="recipeId" id="recipeId" type="hidden" value="<%=recipe.id%>"/>
        <button type="submit" class="mt-4 block mx-auto bg-red-400 text-xl text-black  p-2 m-2 rounded-lg">Confirm</button>
    </form>
</div>
</div>

<div id="recipe details" class="shadow-md rounded-lg border-solid border-orange-500 border-4 mx-auto my-5 w-4/5 bg-cover bg-orange-100">
        <h2 class="text-3xl p-3 text-center text-white bg-orange-400">Edit Details</h2>
        <div>
            <form method="POST" action="/recipes/<%=recipe.id%>/?_method=PUT">
                <label class="mx-auto my-2 block text-center" for="name">Name</label>
                <input class="mx-auto block text-center w-4/5 rounded-lg" name="name" id="name" value="<%=recipe.name%>">
                <label class="mx-auto my-2 block text-center" for="directions">Directions (place // in between steps):</label>
                <textarea class="mx-auto block p-3 w-4/5 rounded-lg " cols="30" rows="5" name="directions" id="directions" ><%=recipe.directions%></textarea>
                <label class="mx-auto my-2 block text-center" for="story">story:</label>
                <textarea class="mx-auto block text-center w-4/5 rounded-lg" name="story" id="story" ><%=recipe.story%></textarea>
                <label class="mx-auto my-2 block text-center" for="notes">notes:</label>
                <textarea class="mx-auto block text-center w-4/5 rounded-lg" name="notes" id="notes" ><%=recipe.notes%></textarea>
                <label class="mx-auto my-2 block text-center"for="img">image source URL:</label>
                <input class="mx-auto block text-center w-4/5 rounded-lg" name="img" id="img" type="text"  value="<%=recipe.img%>">
                <% if (!recipe.public) { %> 
                    <div class="flex items-center mx-auto w-1/2 mb-4">
                        <input id="public" type="checkbox" name="public" value="true" class="w-4 h-4 text-orange-600 bg-gray-100 rounded border-gray-300 focus:ring-orange-500">
                        <label for="public" class="ml-2 text-sm font-medium text-gray-900 ">Public (other users will be able to view and save this recipe)</label>
                    </div>
                <% } else { %>
                    <div class="flex items-center mx-auto w-1/2 mb-4">
                        <input checked id="public" name="public" type="checkbox" value="true" class="w-4 h-4 text-orange-600 bg-gray-100 rounded border-gray-300 focus:ring-orange-500">
                        <label for="public" class="ml-2 text-sm font-medium text-gray-900 ">Public (other users will be able to view and save this recipe)</label>
                    </div>
                <% } %>
                
        
                <button type="submit" class="my-4 block mx-auto bg-orange-400 text-xl text-white border-4 border-solid border-orange-500 p-2 rounded-lg">Confirm</button>
            </form>
        </div>
</div>


<script src="/javascript/addIngredients.js"></script>





